/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
  overflow-x: hidden;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

header{
  text-align: center;
  line-height: 50px;
  height: 50px;
  
}

nav{
  @extend .product-container;
  text-align: center;
}

ul.site-nav{
  padding: 0;
}

#Login{
  text-align: center;
  margin: 50px 0;
}
