/*================ Links & Buttons ================*/
.btn {
  @include prefix('user-select', 'none', moz ms webkit spec);
  @include prefix(appearance, none, webkit moz spec);
  display: inline-block;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
  background-color: transparent;
  overflow: hidden;
  text-transform: lowercase;
  border: 2px solid transparent;
}

.btn--primary{
  background-color: $color-border;
  color: $color-body;
  border-color: $color-border;
  width: 100%;
  &:hover{
    background-color: $color-body;
    color: $color-border;
  }
}

.btn--default{
  background-color: transparent;
  border-color: $color-border;
}

.button-group{
  display: flex;
  width: 100%;

  .btn{
    flex: 1;
    border-color: $color-border;
    border-right: 0;
    &:last-child{
      border-right: 2px solid $color-border;
    }

    &.label{
        cursor: default;
      }
  }


}


.qty-selectors__btn{
    cursor: pointer;
    padding-right: 13px;
    padding-left: 13px;
}

.qty-selectors{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid $color-border;

  .qty-selectors__btn--minus{
    position: absolute;
    left: 0;
    border-right: 2px solid $color-border;
  }

  .qty-selectors__btn--plus{
    position: absolute;
    right: 0;
    border-left: 2px solid $color-border;
  }
}

.selector-wrapper{
  select{
    width: 100%;
    border: 2px solid $color-border;
  }
}
