.product-container{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  @include media-query($small) {
    max-width: 350px;
  }
}

.product-gallery-container{
  text-align: center;
}

.title{
  letter-spacing: 3px;
  @include media-query($medium-up) {
    text-transform: uppercase;
  }
}

.qty-selectors__qty{
  &::before{
    content: '(';
    display: inline-block;
  }
  &::after{
    content: ')';
    display: inline-block;
  }

}

.pdp-info-link{
  font-size: 12px;
  line-height: 2;
  text-decoration: underline;
  display: block;
}

.cta-link{
  text-decoration: underline;
}

#shopify-section-featured-images{
  background-color: #fff;
}

.featured-images__container{
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}


.featured-images__block{
  text-align: left;
  position: relative;
  flex: 0 0 auto;

  &:nth-child(3n+1){

    .details{
      left: 9%;
      bottom: 9%;
    }

  }
  &:nth-child(3n){
    margin: 0 10px;
    .details{
      left: 9%;
      bottom: 9%;
    }

  }
  &:nth-child(3n + 2){

    .details{
      left: 23%;
      bottom: -5%;
    }
  }
}

.image-placeholder {
  height: 100%;
  visibility: hidden;
  width: 100%;
}

.image-img {
  left: 50%;
  max-height: 81%;
  max-width: 81.5%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}


.details{
position: absolute;
}

.details__title{
  text-decoration: underline;
}

.details__subtitle{
  font-size: 12px;
  line-height: 2;
}


// Color Buttons

.color-option-btn{
  span{
    font-size: 12px;
    padding-left: 3px;
    opacity: 0;
  }
  &.black{
    background-color: #000;
    color: #fff;
  }

  &.beige{
    background-color: #fedbb5;
  }

  &.selected{
    span{
      opacity: 1;
    }
  }
}


// Fixed Scroll

.scroll-container{
  position: relative;
  .fixed-content{
    position: relative;
    width: 100%
  }
}

.column-container{
  min-height: 90vh;
  position: relative;
}

.column-contents{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.is-bottomed{
  @include media-query($medium-up) {
    position: absolute !important;
    bottom: 0;
  }
}

.is-scrolling{
    @include media-query($medium-up) {
      position: fixed !important;
      top: 100px;
    }
}

.dropdown__wrapper{
  .dropdown__trigger{
    cursor: pointer;
    text-align: center;
  }


  &.open{
    .dropdown__content{
      max-height: 1000px;
    }
    .prod-description-trigger::after{
      content: 'Hide description';
    }
  }
}


.prod-description-trigger::after{
  content: 'Show description';
  display: inline-block;
}

.dropdown__content{
  overflow: hidden;
  max-height: 0;
}
