.product-container{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #F8F8F8;
}

.title{
  text-transform: uppercase;
  letter-spacing: 3px;
}

.qty-selectors__qty{
  &::before{
    content: '(';
    display: inline-block;
  }
  &::after{
    content: ')';
    display: inline-block;
  }

}

.featured-images__container{
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}


.portrait{
  padding: 50px;
  img{
    height: 500px;
  }
}

.landscape{
  padding: 50px;
  img{
    width: 500px;
  }
}


.scroll-container{
  position: relative;
  .fixed-content{
    position: relative;
    width: 100%
  }
}

.is-bottomed{
  position: absolute !important;
  bottom: 0;
}

.is-scrolling{
  position: fixed !important;
  top: 100px;
}
