<div class="featured-images__container">
  <div class="row flex-container">

      {% for block in section.blocks %}

        {% assign b = block.settings %}

        {%- capture image_src -%}
          {{- b.image | img_url: 'original', format: 'pjpg' -}}
        {%- endcapture -%}


        <div class="col medium-up--one-half one-whole featured-images__block">
            <img class="image-placeholder" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="" />
          <img src="{{image_src}}" alt="" class="image-img">

          <div class="details mt2">
            <a href="#">
              <div class="details__title">
                {{b.title}}
              </div>
              <div class="details__subtitle">
                {{b.subtitle}}
              </div>
            </a>

          </div>
        </div>

        {% endfor %}
  </div>

</div>


{% schema %}
{
    "name":"PDP Images",

    "settings": [

    ],
    "blocks":[
        {
            "name":"Image",
            "type":"Image",
            "settings":[
                {
                    "id":"image",
                    "type":"image_picker",
                    "label":"Featured Image"
                },
                {
                    "type":"text",
                    "id":"title",
                    "label":"Title"
                },
                {
                    "type":"text",
                    "id":"subtitle",
                    "label":"Subtitle"
                }
            ]
        }
    ],
    "presets":[
        {
            "category":"PDP Images",
            "name":"PDP Images"
        }
    ]
}
{% endschema %}
